


.header-div {
    display: none;
}

.epk-page {
    margin-bottom: 50px;
    color: black;
    background-size:cover;
}

.epk-bio {
    padding-top: 60px;
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 170px;
    font-size: 28px;
    line-height: 1.0;
    font-family: Arial, Helvetica, sans-serif;
}

.epk-onesheet {
    min-height: 1000px;
    padding-top: 200px;
    padding-left: 50px;
    display: flex;
}

.bb {
    font-weight: bold;
}

#bio-logo {
    margin-bottom: -40px;
}

#masthead {
    margin-bottom: 35px;
}


.album-title {
    font-weight: bold;
}
.album-image {
    width: 10vw;
    border: solid 1px black;
}

.album-section {
    display: flex;
    flex-direction: column;
}

.album-info {
    padding-left: 10px;
}


@media all and (max-width: 1699px) {
    .epk-bio {
        font-size: 2vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media all and (max-width: 1025px) {
    .epk-bio {
        font-size: 2vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #masthead {
        margin-bottom: 50px;
    }

}

