:root {
    --accent_green: #83bf0d;
    --accent_green: #941fa5;
    --box_color: white;
    --arrow_size: 50px;
    --pulse_size: 62px;
    --arrow_border_rad: 50%;
}


.cff-lightbox-dataContainer {
    background-color: unset;
    color: green;
}

.cff-lightbox-data .cff-lightbox-details .cff-lightbox-facebook {
    color: #ffffff !important;
}
.cff-lightbox-wrapper {
    margin-top: 150px;
}

.cff-album-cover {
    border: solid 2px #ffffff !important;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
}

.cff-album-cover:hover {
    border: solid 2px #ff6bd8 !important;

}

.hover-cover {
    background-color: rgba(0, 0, 0, 1);
}

.front_page a {
    text-decoration: none;
    color:#ff6bd8


}

.front_page a:hover {
    color:#fffcfe

}

.master-slider-parent {
    margin-top: 150px;
    margin-bottom: 150px;
}

.trans_row {
    margin-left: -5000px;
    margin-right: -5000px;
    padding-left: 5000px;
    padding-right: 5000px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 10%;
    min-height: 300px;
    padding-bottom: 20px;
    flex-direction: column;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card:hover {
    border: solid 2px #ff6bd8 !important;
    /*     -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
        filter:drop-shadow(0px 0px 5px #ffffff) */
}

.card {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    flex: 0 1 30%;
    border: solid 2px #ffffff !important;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.card-text {
    padding: 10px;
}

.card img {
    height: 300px;
    width: auto;
    object-fit: cover;
    margin-bottom: 20px;
    /*     border-bottom: solid 2px; */
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff6bd8;
}

.section-title, .dept-title {
    font-size: 60px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.department {
    text-align: center;
}

.dept-title {
    display: inline-block;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    margin-top: 20px;
    min-width: 100%;
}

.darrow {
    display: inline-block;
    margin-left: 20px;
    transform: rotate(-90deg);
    transition: all 100ms;
}

.darrow[xhidden] {
    transform: rotate(0deg);
}

.dept-title:hover {
    color: var(--accent_green)
}

.dept-div[xhidden] {
    opacity: 0;
    height: 0;
    overflow: hidden;
}



hr {
    background-color: var(--accent_green);
    width: 300px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}


#title-text {
    width: 100%;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}


#title-img {
    margin-top: 100px;
    margin-bottom: 100px;
}

#front-page-image {
    width: 50%;
}

#news, #news-mobile {
    color: white;
    margin-top: 5%;

}




/*
.ms-layer {
    padding-right: 20% !important;
    padding-left: 20% !important;
}
 */
.ms-slide-layers {
    background: rgba(0, 0, 0, 0.75);
}

/* .master-slider-parent {
    padding-bottom: 10%;
}
 */

.ms-skin-black-2 .ms-bullet-selected, .ms-skin-black-2 .ms-nav-next, .ms-skin-black-2 .ms-nav-prev {
    border: solid 3px var(--accent_green);
    -webkit-box-shadow: 0 0 5px var(--accent_green);

}

.ms-bullet:hover {
    -webkit-box-shadow: 0 0 5px white;
    border-color: white;
}
/*
.ms-container, .ms-view {
    overflow: visible !important;
}
 */
/*
.ms-slide-bgcont, .ms-slide, .ms-slide-layers {
    border-radius: 10px !important;
}
 */
.ms-slide-layers {
    box-shadow: inset 0 0 0 2px var(--box_color);
    -moz-box-shadow: inset 0 0 2px var(--box_color);
}

.ms-slide {
    -webkit-box-shadow: 0 0 5px var(--box_color);
}

/*.ms-slide-bgcont img  {*/
/*    object-fit: cover !important;*/
/*    width: 500px !important;*/
/*    margin-left: 363px !important;*/
/*;*/
/*}*/

/*.ms-slide-bgcont {*/
/*    width: unset;*/
/*}*/
/*
#news-mobile {
    display: None;
}

 */
.field_names tbody {
    border: solid 2px var(--accent_green);
}

/* top right bottom left */

.field_names td {
    padding: 1px 10px 1px 10px;
}

.field_val {
    word-break: break-all !important;
}

.field_name {
    color: var(--accent_green);
}

.field_names tr {
    background-color: black;
    border: none;
}


.wpforms-form {
    display: block;
    /* margin-top: 50px; */
}


#contact form {
    display: inline-block;
    width: 800px;
}

#contact{
    text-align: center;
}

#contact p {
    padding: 0;
    display: inline-block;
    text-transform: None;
    letter-spacing: normal;
    font-size: 20px;
    max-width: 80%;
}

#contact input,
#contact textarea {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--accent_green);
    transition: border 200ms linear;
    border-radius: 8px;
    color: white;
    padding: 5px;
    min-width: 100%;
}


#contact label {
    text-align: left;
}

#contact input:focus,
#contact textarea:focus {
    border: 2px solid white;
}

#contact textarea {
    flex-grow: 3;
    min-height: 50px;
    margin-bottom: 25px;
}

#contact button {
    background: var(--accent_green);
    color: #ffffff;
    cursor: pointer;
    transition: all 200ms linear;
    border-radius: 8px;
    font-size: 40px;
    -webkit-box-shadow: 0 0 5px var(--box_color);
    border: solid 2px white;
    opacity: 1;

}

.wpforms-submit-container, #contact button {
    /*     margin-top: -34px !important; */
    margin-bottom: 7px !important;

}

#contact {
    padding-bottom: 1px;
}

#contact button:hover {
    color: #000000;
}

#contact button:focus, #contact button:active {
    background: white;
    color: #000000;
}

.wpforms-form label.wpforms-error {
    color: white !important;
}

.wpforms-form {
    max-width: 500px;;
}

.wpforms-required-label {
    color: var(--accent_green) !important;
}

.wpforms-container {
    padding: 0 !important;
    margin-top: -15px !important;

}

.wpforms-confirmation-container-full,
.wpforms-confirmation-scroll {
    margin: 0;
    background: rgba(0, 0, 0, 0.4) !important;
    background-color: none;
    border-radius: 8px;
    border: solid 2px var(--accent_green);
    text-transform: none;
    font-size: 30px;
    letter-spacing: normal;
    display: inline-block;
    max-width: 700px;
    margin-bottom: 20px;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, div.wpforms-container-full .wpforms-form select.wpforms-field-medium, div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100% !important;
}

.wpforms-recaptcha-container > div {
    text-align: center;
    display: inline-block;
}

.g-recaptcha, iframe {
    margin-bottom: -50px;
    padding: 0;
    overflow: hidden;
}


.wdi_feed_container, .wdi_feed_item, .wdi_feed_wrapper, .wdi_photo_wrap_inner {
    background-color: transparent;
    background: none !important;
    border: none !important;
}


.wdi_feed_item {
    padding: 6px 3px;
}

.fb-page {
    margin-top: 21px;

}

.social_col {

    display: inline-block;
    vertical-align: top;
    padding-top: 20px

}

.fb-page, .fb-social, .social_col {
    width: 508px;
}

.social-title {
    font-size: 40px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}


/* #fb_social {
    margin-right: 2.5px;

}
#instagram_social {
    margin-left: 2.7px;
}
 */
.wdi_photo_wrap, .fb-page {
    border: solid 2px #ffffff;
    padding: 0 !important;

}

.wdi_photo_wrap:hover{
    transition: all 100ms;
    -webkit-box-shadow: 0 0 5px var(--box_color);
}

.tenweb-i  {
    display: none !important;
}

.wdi_photo_img img{
    height: 100% !important;
    width: auto;
    object-fit: cover;
}


tr, td {
    border: none;
}

.impressum-text {
    text-align: center;
}
#impressum-table {
    margin-top: 30px;
    display: inline-block;
    max-width: 300px;
}

#impressum-table .field_name{
    padding-right: 15px;
}

#impressum-table td {
    padding: 1px;
}


@media all and (max-width: 800px) {

    #title-text, .section-title{
        /*         margin-top: 15vh; */
        font-size: 45px;
    }


    /*     #news {
            display: None;
        }
     */
    #news-mobile {
        display: block;
    }

    #contact form{
        width: 90%;
    }

    #fb_social {
        margin-right: 0;

    }
    #instagram_social {
        margin-left: 5px;
    }

}

@media all and (max-width: 480px) {

    .wdi_feed_item {
        padding: 0;
    }
}