:root {
    --accent_green: #83bf0d;
    --accent_green: #941fa5;
    --box_color: white;
    --arrow_size: 50px;
    --pulse_size: 62px;
    --arrow_border_rad: 50%;
}

.bwg-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 5px !important;
}


.hover-cover {
    background-color: rgba(0, 0, 0, 1);
}

.front_page a {
    text-decoration: none;
    color: #ff6bd8


}

.front_page a:hover {
    color: #fffcfe

}

.master-slider-parent {
    /*     margin-top: 10px; */
    /*     margin-bottom: -100px; */
}

.trans_row {
    margin-left: -5000px;
    margin-right: -5000px;
    padding-left: 5000px;
    padding-right: 5000px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 15%;
    /*     min-height: 300px; */
    padding-bottom: 20px;
    flex-direction: column;
}



.cff-lightbox-dataContainer {
    min-width: 300px;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card:hover {
    border: solid 2px #ff6bd8 !important;
    /*     -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
        filter:drop-shadow(0px 0px 5px #ffffff) */
}

.card {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    flex: 0 1 30%;
    border: solid 2px #ffffff !important;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.card-text {
    padding: 10px;
}

.card img {
    height: 300px;
    width: auto;
    object-fit: cover;
    margin-bottom: 20px;
    /*     border-bottom: solid 2px; */
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff6bd8;
}

.section-title {
    font-size: 40px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.section-hyphen {
    color: var(--accent_green);
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;

}

.darrow {
    display: inline-block;
    margin-left: 20px;
    transform: rotate(-90deg);
    transition: all 100ms;
}

.darrow[xhidden] {
    transform: rotate(0deg);
}

.dept-title:hover {
    color: var(--accent_green)
}

.dept-div[xhidden] {
    opacity: 0;
    height: 0;
    overflow: hidden;
}


hr {
    background-color: var(--accent_green);
    width: 300px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}


#title-text {
    width: 100%;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}


#title-img {
    margin-top: 100px;
    margin-bottom: 100px;
}

#front-page-image {
    width: 50%;
}

#news, #news-mobile {
    color: white;
    margin-top: 5%;

}


/*
.ms-layer {
    padding-right: 20% !important;
    padding-left: 20% !important;
}
 */
/* .ms-slide-layers {
    background: rgba(0, 0, 0, 0.75);
} */

/* .master-slider-parent {
    padding-bottom: 10%;
}
 */

.ms-skin-black-2 .ms-bullet-selected, .ms-skin-black-2 .ms-nav-next, .ms-skin-black-2 .ms-nav-prev {
    border: solid 3px var(--accent_green);
    /*     -webkit-box-shadow: 0 0 5px var(--accent_green); */

}

/*
.ms-bullet:hover {
    -webkit-box-shadow: 0 0 5px white;
    border-color: white;
} */
/*
.ms-container, .ms-view {
    overflow: visible !important;
}
 */
/*
.ms-slide-bgcont, .ms-slide, .ms-slide-layers {
    border-radius: 10px !important;
}
 */
/* .ms-slide-layers {
    box-shadow: inset 0 0 0 2px var(--box_color);
    -moz-box-shadow: inset 0 0 2px var(--box_color);
}

 */

.ms-info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
}

/* .ms-slide {
    -webkit-box-shadow: 0 0 5px var(--box_color);
} */

/*.ms-slide-bgcont img  {*/
/*    object-fit: cover !important;*/
/*    width: 500px !important;*/
/*    margin-left: 363px !important;*/
/*;*/
/*}*/

/*.ms-slide-bgcont {*/
/*    width: unset;*/
/*}*/
/*
#news-mobile {
    display: None;
}

 */

.wpforms-form {
    display: block;
    /* margin-top: 50px; */
}


.wdi_feed_container, .wdi_feed_item, .wdi_feed_wrapper, .wdi_photo_wrap_inner {
    background-color: transparent;
    background: none !important;
    border: none !important;
}


.wdi_feed_item {
    padding: 6px 3px;
}



.social_col {

    display: inline-block;
    vertical-align: top;
    /*     padding-top: 20px */

}

.fb-page, .fb-social, .social_col {
    width: 508px;
}

.social-title {
    font-size: 40px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}


.ms-bullet {
    display: none;
}

/* #fb_social {
    margin-right: 2.5px;

}
#instagram_social {
    margin-left: 2.7px;
}
 */
.wdi_photo_wrap {
    border: solid 2px #ffffff;
    padding: 0 !important;

}

.wdi_photo_wrap:hover {
    transition: all 100ms;
    -webkit-box-shadow: 0 0 5px var(--box_color);
}

/* .tenweb-i  {
    display: none !important;
}
 */
.wdi_photo_img img {
    height: 100% !important;
    width: auto;
    object-fit: cover;
}
.bwg-item img {
    object-fit: cover !important;
}
@media all and (max-width: 1023px) {
    .ms-bullet {
        display: block;
    }

    .ms-nav-next, .ms-nav-prev {
        display: none;
    }



    #title-text, .section-title {
        /*         margin-top: 15vh; */
        font-size: 25px;
    }


    #fb_social {
        margin-right: 0;

    }

    #instagram_social {
        margin-left: 5px;
    }

}

@media all and (max-width: 480px) {

    .bwg-item, .bwg-item img {
        height: 80px !important;
        width: 80px !important;
    }



    .header-div {
        margin-top: 0;
    }

    .ms-info {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 200px;
    }

    .wdi_feed_item {
        padding: 0;
    }
}