:root {
    /*     --accent_green: #83bf0d; */
    --accent_green: #97BF0D;
    --box_color: white;
    --arrow_size: 50px;
    --pulse_size: 62px;
    --arrow_border_rad: 50%;
}


.trans_row {
    margin-left: -5000px;
    margin-right: -5000px;
    padding-left: 5000px;
    padding-right: 5000px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 10%;
    min-height: 300px;
    padding-bottom: 20px;
    flex-direction: column;
}


.section-title, .dept-title {
    font-size: 60px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.department {
    text-align: center;
}

.dept-title {
    display: inline-block;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    margin-top: 20px;
    min-width: 100%;
}

.darrow {
    display: inline-block;
    margin-left: 20px;
    transform: rotate(-90deg);
    transition: all 100ms;
}

.darrow[xhidden] {
    transform: rotate(0deg);
}

.dept-title:hover {
    color: var(--accent_green)
}

.dept-div[xhidden] {
    opacity: 0;
    height: 0;
    overflow: hidden;
}



hr {
    background-color: var(--accent_green);
    width: 300px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}


#arrow-img {
    width: var(--arrow_size);
    border-radius: var(--arrow_border_rad);
}


#arrow-img:hover {
    -webkit-filter: drop-shadow(0px 0px 4px var(--accent_green));
    filter: drop-shadow(0px 0px 4px var(--accent_green));
}

#arrow-inner {
    padding-top: 6px;
    position: absolute;
}

#arrow-pulse {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pulsate;
    background: white;
    width: var(--pulse_size);
    height: var(--pulse_size);
    z-index: -1;
    border-radius: var(--arrow_border_rad);
}


#arrow-container {
    margin-top: 15vh;

}


#arrow-inner, #arrow-border, #arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.85;
    }

    100% {
        opacity: 0;
    }
}


#title {
    width: 100%;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    padding-top: 20%;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#news, #news-mobile {
    color: white;
    margin-top: 20%;
}


html {
    min-height: 100%;
    box-shadow: inset 0 0 0 2000px #0f0f0f8a !important;
}


.ms-layer {
    padding-right: 20% !important;
    padding-left: 20% !important;
}

.ms-slide-layers {
    background: rgba(0, 0, 0, 0.75);
}

.master-slider-parent {
    padding-bottom: 10%;
}


.ms-skin-black-2 .ms-bullet-selected, .ms-skin-black-2 .ms-nav-next, .ms-skin-black-2 .ms-nav-prev {
    border: solid 3px var(--accent_green);
    -webkit-box-shadow: 0 0 5px var(--accent_green);

}

.ms-bullet:hover {
    -webkit-box-shadow: 0 0 5px white;
    border-color: white;
}

.ms-container, .ms-view {
    overflow: visible !important;
}


.ms-slide-bgcont, .ms-slide, .ms-slide-layers {
    border-radius: 10px !important;
}

.ms-slide-layers {
    box-shadow: inset 0 0 0 2px var(--box_color);
    -moz-box-shadow: inset 0 0 2px var(--box_color);
}

.ms-slide {
    /*     -webkit-box-shadow: 0 0 5px var(--box_color); */
}

#news-mobile {
    display: None;
}



.player {
    margin: 20px;
}


.field_names tbody {
    border: solid 2px var(--accent_green);
}

/* top right bottom left */

.field_names td {
    padding: 1px 10px 1px 10px;
}

.field_val {
    word-break: break-all !important;
}

.field_name {
    color: var(--accent_green);
}

.field_names tr {
    background-color: black;
    border: none;
}

.player {
    display: inline-block;
    min-height: 500px;
}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    transition: all 500ms;
    opacity: 0.7;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card:hover {
    transition: all 500ms;
    opacity: 1;
}


.flip-card[flipped] {
    transition: all 500ms;
    opacity: 1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /*     -webkit-box-shadow: 0 0 5px var(--box_color); */
    min-height: 500px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card[flipped] .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    min-height: 500px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);

}

#ptable {
    width: 100%;
    position: absolute;
    bottom: -24px;
    margin-bottom: 0;

}

.player-img {
    border: solid 2px white;
    /*     box-shadow: inset 0 0 0 2px var(--box_color);
        -moz-box-shadow: inset 0 0 2px var(--box_color); */
}

.wpforms-form {
    display: block;
    /* margin-top: 50px; */
}


#kontakt form {
    display: inline-block;
    width: 800px;
}

#kontakt{
    text-align: center;
}

#kontakt p {
    padding: 0;
    display: inline-block;
    text-transform: None;
    letter-spacing: normal;
    font-size: 20px;
    max-width: 80%;
}

#kontakt input,
#kontakt textarea {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--accent_green);
    transition: border 200ms linear;
    border-radius: 8px;
    color: white;
    padding: 5px;
    min-width: 100%;
}


#kontakt label {
    text-align: left;
}

#kontakt input:focus,
#kontakt textarea:focus {
    border: 2px solid white;
}

#kontakt textarea {
    flex-grow: 3;
    min-height: 50px;
    margin-bottom: 25px;
}

#kontakt button {
    background: var(--accent_green);
    color: #ffffff;
    cursor: pointer;
    transition: all 200ms linear;
    border-radius: 8px;
    font-size: 40px;
    -webkit-box-shadow: 0 0 5px var(--box_color);
    border: solid 2px white;
    opacity: 1;

}

.wpforms-submit-container, #kontakt button {
    margin-top: -34px !important;
    margin-bottom: 7px !important;

}

#kontakt {
    padding-bottom: 1px;
}

#kontakt button:hover {
    color: #000000;
}

#kontakt button:focus, #kontakt button:active {
    background: white;
    color: #000000;
}

.wpforms-form label.wpforms-error {
    color: white !important;
}

.wpforms-required-label {
    color: var(--accent_green) !important;
}

.wpforms-container {
    padding: 0 !important;
    margin-top: -15px !important;
}

.wpforms-confirmation-container-full {
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: solid 2px var(--accent_green);
    text-transform: none;
    font-size: 30px;
    letter-spacing: normal;
    display: inline-block;
    max-width: 700px;
    margin-bottom: 20px;
}

.wpforms-recaptcha-container > div {
    text-align: center;
    display: inline-block;
}

.g-recaptcha, iframe {
    margin-bottom: -50px;
    padding: 0;
    overflow: hidden;
}


.wdi_feed_container, .wdi_feed_item, .wdi_feed_wrapper, .wdi_photo_wrap_inner {
    background-color: transparent;
    background: none !important;
    border: none !important;
}


.wdi_feed_item {
    padding: 6px 3px;
}

.fb-page {
    margin-top: 21px;
}

.social_col {
    width: 340px;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px

}

.social-title {
    font-size: 40px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}


#fb_social {
    margin-right: 2.5px;

}
#instagram_social {
    margin-left: 2.7px;
}

.wdi_photo_wrap, .fb-page {
    border: solid 2px #ffffff;
    padding: 0 !important;

}

.wdi_photo_wrap:hover{
    transition: all 100ms;
    -webkit-box-shadow: 0 0 5px var(--box_color);
}

.tenweb-i  {
    display: none !important;
}

.wdi_photo_img img{
    height: 100% !important;
    width: auto;
    object-fit: cover;
}


tr, td {
    border: none;
}

.impressum-text {
    text-align: center;
}
#impressum-table {
    margin-top: 30px;
    display: inline-block;
    max-width: 300px;
}

#impressum-table .field_name{
    padding-right: 15px;
}

#impressum-table td {
    padding: 1px;
}


@media all and (max-width: 800px) {

    #title {
        margin-top: 15vh;
        font-size: 45px;
    }

    #arrow-container {
        margin-top: 20vh;
        margin-bottom: 40vh;

    }

    #news {
        display: None;
    }

    #news-mobile {
        display: block;
    }

    #kontakt form{
        width: 90%;
    }

    #fb_social {
        margin-right: 0;

    }
    #instagram_social {
        margin-left: 5px;
    }

}

@media all and (max-width: 480px) {

    .wdi_feed_item {
        padding: 0;
    }
}